/*To change font: 
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

/*Changes color of navbar:*/
$navbarBackgroundHighlight: #999999;
$navbarBackground: #999999;

$navbarLinkColor: white;
$btnPrimaryBackground: red;

@import "bootstrap";

body {
	padding-top: 60px;
}

@import "bootstrap-responsive";

/*Deletes bottom shadow on navbar:*/
.navbar-inner {
	@include box-shadow(none !important);
	border:0;
}

.span3 {
	margin-left:10px;
	color: red;
}

.footer {
	padding-top: 50px;
	color:black;
	a {
		color:#999999;
	}
}

.welcome {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.pin_origin {
	font-style: italic;
	font-size: 12px;
}

/* Required for jQuery Masonry */
.box {
	margin: 5px;
	padding: 10px;
	font-size: 14px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #444;
	width:214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}