<div class="footer">
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> hosted by <%= link_to "Skillshare", "http://www.skillshare.com" %> and created by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>.
	</small>
</div>